body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #249EA0;
}

.logo {
    width: 70px;
    height: 70px;
}

header {
    padding: 0 40px 0 20px;
    background-color: #005F60;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.fa-user-o {
    font-size: 30px !important;
}

.hero {
    image-resolution: 300dpi;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.card {
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin: 15px;
    border: 3px solid #F78104;
    border-radius: 15px;
    text-align: left;
    padding: 15px;
}

.card-img {
    border-radius: 12px;
    margin-right: 15px;
}

.card-btn {
    background-color: #005F60;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-self: flex-start;
    margin-top: 104px;
}

.card-content {
    margin: 10px;
    flex-direction: column;

}

@media screen and (max-width: 768px) {
    nav a {
        margin: 0 10px;
        font-size: 12px;
        font-weight: bold;
    }
}