body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #249EA0;
}

.logo {
    width: 70px;
    height: 70px;
}

header {
    padding: 0 40px 0 20px;
    background-color: #005F60;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.fa-user-o {
    font-size: 30px !important;
}

@media screen and (max-width: 768px) {
    nav a {
        margin: 0 10px;
        font-size: 12px;
        font-weight: bold;
    }
}